body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute; 
    top: 0;
    bottom: 0; 
    width: 100%; 
}

#btnClose {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    height: 40px;
}

#sideBar {
    text-align: center;
    position: fixed;
    right: 5%;
    border-radius: 10px;
    width: 20%;
    min-width: 300px;
    height: 75%;
    z-index: 3000;
    margin: 0;
    overflow: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: black;
    visibility: hidden;
}

#sideBarTitle {
    color: white;
    text-align: left;
}

#images {
    overflow: auto;
}

#locationButton {
    background: none padding-box rgb(255, 255, 255);
    display: table-cell;
    border: 0px;
    margin: 0px;
    padding: 0px 17px;
    text-transform: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    user-select: none;
    direction: ltr;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    height: 30px;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}

#btnResolve {
    display: table-cell;
    border: 0px;
    margin: 0px;
    padding: 0px 17px;
    text-transform: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    user-select: none;
    direction: ltr;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    height: 30px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: rgb(0 0 0 / 70%) 0px 1px 4px -1px;
}

/* Left Menu END */

.deleteReport {
    position: fixed;
    background-color: #ffff;
    padding: 4px;
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    font-family: Roboto, Arial, sans-serif;
}

#deleteText {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.zoomReport {
    position: fixed;
    background-color: #ffff;
    padding: 4px;
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#address {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #ffff;
    padding: 5px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0.3) 0px 1px 4px -1px;
    visibility: hidden;
}

#address-text {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    margin: 5px;
}

/* New side Nav */
.backgroundSideNav {
    z-index: 99999;
    position: absolute;
}

.sideNav {
    background-color: white;
    margin: 10px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0.3) 0px 1px 2px -1px;
}

.sideText {
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', 'Arial', 'sans-serif';
}

.btnMenu {
    width: 50px;
    height: 50px;
    cursor: pointer; /* Pointer/hand icon */
    border: none;
    background: none;
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
}

.btnMenu:hover {
    filter: brightness(60%);
}

.btnDepredation { background: url('http://maps.google.com/mapfiles/ms/icons/blue-dot.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }
.btnDepredationPressed { background: url('http://maps.google.com/mapfiles/ms/icons/blue-dot.png') no-repeat, #80ffa2; background-position: 50%, 50%; }
.btnRoad { background: url('http://maps.google.com/mapfiles/ms/icons/green-dot.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }
.btnRoadPressed { background: url('http://maps.google.com/mapfiles/ms/icons/green-dot.png') no-repeat, #80ffa2; background-position: 50%, 50%; }
.btnLeak { background: url('http://maps.google.com/mapfiles/ms/icons/pink-dot.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }
.btnLeakPressed { background: url('http://maps.google.com/mapfiles/ms/icons/pink-dot.png') no-repeat, #80ffa2; background-position: 50%, 50%; }
.btnGarbage { background: url('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }
.btnGarbagePressed { background: url('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png') no-repeat, #80ffa2; background-position: 50%, 50%; }
.btnFlood { background: url('http://maps.google.com/mapfiles/ms/icons/purple-dot.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }
.btnFloodPressed { background: url('http://maps.google.com/mapfiles/ms/icons/purple-dot.png') no-repeat, #80ffa2; background-position: 50%, 50%; }

.btnHeatMap { background: url('../img/icons/heatMapIcon.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }
.btnSolved { background: url('../img/icons/solvedIcon.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }
.btnShowAll { background: url('../img/icons/eyeIcon.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }
.btnControlPanel { background: url('../img/icons/controlPanelIcon.png') no-repeat, #e8f1ff; background-position: 50%, 50%; }

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.configDiv {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 3000;
}

.configButton {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background: url('../img/icons/engineIcon.png') no-repeat, #ffff;
    background-position: 50%, 50%;
    border: none;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0.3) 0px 1px 2px -1px;
}

.configButton:hover {
    filter: brightness(60%);
}

.adminArea {
    visibility: hidden;
}

/* AdminPopUpLogin */

.adminPopUp {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility:hidden;
    background-color: #ffff;
}

.adminLogin {
    margin: 0 auto;
    width:300px;
    position: relative;
    z-index:41;
    top: 30%;
    padding:30px;
    background: -webkit-linear-gradient(top,#7579ff,#b224ef);
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.headerAdminLogin {
    font-family: Poppins-Medium;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.adminLoginInputType {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,.24);
    margin-bottom: 30px;
}

.adminInput {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #ffff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px 0 38px;
    border: 0;
}

.adminInput:focus {
    outline-width: 0;
}

::placeholder {
    color:    #ffff;
}

.loginBtn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adminLoginBtn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #ffff;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.bottomText {
    padding-top: 40px;
}

.adminLoginBtn:hover {
    background: -webkit-linear-gradient(top,#7579ff,#b224ef);
    color: white;
}

.adminLoginBottomText {
    color: white;
    cursor: pointer;
    padding-top: 20px;
}

.loginClose {
    color: white;
    cursor: pointer;
    padding-top: 10px;
}

.loginClose:hover {
    color: purple;
}