<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script><script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
        <script src='/mapScript.js'></script>
        <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400">
        <link href='/resources/home.css' rel="stylesheet">
    </head>
    <body>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="menuOpt" style="height: 100%;">
                <div id="heatMapDiv">
                    <a onclick="toggleHeatMap()"> Aplicar HeatMap </a>
                </div>
                <a onclick="toggleCluster()"> Mostrar todos </a>
                <div id="oneTypeDiv">
                    <a onclick="toggleOneTypeOnly()"> Apenas um tipo </a>
                </div>
                <div id="showResolved">
                    <a onclick="toggleShowResolved()"> Mostrar resolvidos </a>
                </div>
                <!--a href="#"> Delimitar por território </a-->
                <a id="openAdminLogin" onclick="openAdminLogin()" style="position: absolute;bottom: 0; padding-bottom: 30%;"> ⚙️ Admin </a>
            </div>
        </div>
        <span id="hamburguerMenu" onclick="openNav()"> &#9776; Menu </span>

        <div id="address">
            <p id="address-text"></p>
        </div>

        <div id="sideBar">
            <div id="header">
                <button id="btnClose" onclick="sideBarVisible(false)"> Fechar Infos </button>
                <ul>
                    <p id="sideBarTitle"> Reportes Encontrados! </p>
                </ul>
            </div>
            <div id="images"></div>
        </div>

        <div id='map' style='position: absolute; top: 0px; bottom: 0px; width: 100%;'></div>

        <script>
            var token = "<%= token %>";
            var env = "<%= env %>";
            loadFunc(token, env);
        </script>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("hamburguerMenu").style.visibility = "hidden";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("hamburguerMenu").style.visibility = "visible";
            }

            function openAdminLogin() {
                closeNav();
                document.getElementById("adminPopUp").style.visibility = "visible";
            }

            function closeAdminLogin() {
                document.getElementById("adminPopUp").style.visibility = "hidden";
            }

            function closeAdminChangePass() {
                document.getElementById("adminChangePassword").style.visibility = "hidden";
                closeAdminLogin();
            }
        </script>

        <div id="adminPopUp" class="adminPopUp">
            <div id="adminPopUpContent" class="reveal-modal">
                <div>
                    <a class="closeAdminPopUp" onclick="closeAdminLogin()">&times;</a>
                    <h2> Login de Administrador </h2>
                </div>
                <p>
                    <form>
                        <label for="fname"> Login </label><br>
                        <input type="text" id="fname" name="fname"><br><br>
                        <label for="lname"> Senha </label><br>
                        <input type="password" id="lname" name="lname"><br><br>
                    </form>
                    <button onclick="performAdminLogin()"> Logar </button>
                    <br><br><br>
                    Faz parde de uma instituição interessada em ser adminitradora do sistem?
                    <a href="/register/Home.html"> CLIQUE AQUI</a>
                </p>
            </div>
        </div>

        <div id="adminChangePassword" class="adminPopUp">
            <div id="adminPopUpContent" class="reveal-modal">
                <div>
                    <a class="closeAdminPopUp" onclick="closeAdminChangePass()">&times;</a>
                    <h2> Alterar senha </h2>
                </div>
                <p>
                    <form>
                        <label for="fname"> Senha antiga </label><br>
                        <input type="password" id="fOldPass" name="fOldPass"><br><br>
                        <label for="lname"> Nova Senha </label><br>
                        <input type="password" id="fNewPass" name="fNewPass"><br><br>
                        <label for="lname"> Confirmar Senha </label><br>
                        <input type="password" id="fConfirmPass" name="fConfirmPass"><br><br>
                    </form>
                    <button onclick="performAdminPasswordChange()"> Trocar </button>
                </p>
            </div>
        </div>

        <div id="deleteReportDiv" class="deleteReport">
            <h1> Excluir reporte? </h1>
            <h3> Deseja excluir esse reporte? Digite o motivo: </h3>
            <div id="imgToBeDeleted"></div>
            <div id="textToBeDeleted"></div>
            <div>
                <textarea id="deleteText" cols="50" rows="4"></textarea>
            </div>
            <form>
                <br>
                <label for="cbBlockUser"> Bloquear usuário? </label>
                <input type="checkbox" id="cbBlockUser" name="cbBlockUser" value="0">
            </form>
            <br>
            <button id="btnCancel" onclick="closeDeleteReport()"> Cancelar </button>
            <button id="btnDelete" onclick="deleteReport()"> Deltar report </button>
        </div>

        <div id="imageZoomDiv" class="zoomReport">
        </div>

        <script>
            function closeDeleteReport() {
                document.getElementById('deleteReportDiv').style.visibility = 'hidden';
                cancelDelete();
            }

            function deleteReport() {
                const text = document.getElementById('deleteText').value;
                const blockUser = document.getElementById('cbBlockUser').checked;
                sendDeleteReportRequest(text, blockUser);
            }
        </script>

    </body>
</html>
