<!DOCTYPE html>
<html lang="pt-BR">
    <title>
        Fixit - Map
    </title>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script><script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
        <script src='/mapScript.js'></script>
        <script src='/mapUiScript.js'></script>
        <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400">
        <link href='/resources/home.css' rel="stylesheet">
    </head>
    <body>
        <div id="newMenu" class="backgroundSideNav">
            <!-- This menu options div must be used to implement new menus and controls
                (e.g. heatMapControls), it SHOULD NOT be implemented in the parent div-->
            <div id="menuOptions">
                <div class="sideNav">
                    <h1 class="sideText"> Mostrar apenas um tipo
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- If you want to make this menu closeable uncomment this code snippet
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNewMenu()">&times;</a
                        -->
                    </h1>
                    <button id="typeDepredation" onclick="showSelectedType('Depredation')" class="btnMenu btnDepredation"> Depredação </button>
                    <button id="typeRoad" onclick="showSelectedType('Road')" class="btnMenu btnRoad"> Via </button>
                    <button id="typeLeak" onclick="showSelectedType('Leak')" class="btnMenu btnLeak"> Vazamento </button>
                    <button id="typeGarbage" onclick="showSelectedType('Garbage')" class="btnMenu btnGarbage"> Lixo </button>
                    <button id="typeFlood" onclick="showSelectedType('Flood')" class="btnMenu btnFlood"> Inundação </button>
                </div>
                <div class="sideNav">
                    <h1 class="sideText"> Filtros </h1>
                    <button id="filterHeatMap" class="btnMenu btnHeatMap" onclick="toggleHeatMap()">HeatMap</button>
                    <button id="filterShowResolved" class="btnMenu btnSolved" onclick="toggleShowResolved()">Resolvidos</button>
                    <button id="filterShowAll" class="btnMenu btnShowAll" onclick="toggleCluster()">Clusterizar</button>
                </div>
            </div>
            <div id="adminArea" class="sideNav adminArea">
                <h1 class="sideText"> Área do Administrador </h1>
                <button id="controlPanelButton" class="btnMenu btnControlPanel" onclick="openControlPanel()">Painel Controle</button>
            </div>
        </div>

        <div id="configDiv" class="configDiv">
            <button id="configButton" class="configButton" onclick="openAdminLogin()"></button>
        </div>

        <div id="address">
            <p id="address-text"></p>
        </div>

        <div id="sideBar">
            <div id="header">
                <button id="btnClose" onclick="sideBarVisible(false)"> Fechar Infos </button>
                <ul>
                    <p id="sideBarTitle"> Reportes Encontrados! </p>
                </ul>
            </div>
            <div id="images"></div>
        </div>

        <div id='map' style='position: absolute; top: 0px; bottom: 0px; width: 100%;'></div>

        <script>
            var token = "<%= token %>";
            var env = "<%= env %>";
            loadFunc(token, env);
        </script>

        <script>
            function openAdminLogin() {
                clearScreen();
                document.getElementById("newMenu").style.visibility = "hidden";
                document.getElementById("configDiv").style.visibility = "hidden";
                document.getElementById("adminPopUp").style.visibility = "visible";
                setupEnterListener();
            }

            function setupEnterListener() {
                document.getElementById("adminLoginPass").onkeypress = function(e) {
                    if (e.keyCode == 13) {
                        performAdminLogin();
                    }
                }
            }

            function closeAdminLogin() {
                document.getElementById("newMenu").style.visibility = "visible"
                document.getElementById("configDiv").style.visibility = "visible";
                document.getElementById("adminPopUp").style.visibility = "hidden";
            }

            function closeAdminChangePass() {
                document.getElementById("adminChangePassword").style.visibility = "hidden";
                closeAdminLogin();
            }
        </script>

        <div id="adminPopUp" class="adminPopUp">
        <div class="adminLogin">
            <div class="headerAdminLogin">
              <h1> Login </h1>
            </div>
            <div class="adminLoginInputType">
              <input id="adminLoginName" class="adminInput" type="text" name="Username" placeholder="Username"/>
            </div>
            <div class="adminLoginInputType">
              <input id="adminLoginPass" class="adminInput" type="password" name="Password" placeholder="Password"/>
            </div>
            <div class="loginBtn">
              <button class="adminLoginBtn" onclick="performAdminLogin()"> Login </button>
            </div>
            <div class="loginBtn">
                <a class="loginClose" onclick="closeAdminLogin()"> Fechar </a>
            </div>
            <div class="bottomText">
                <a href="/register/Home.html" class="adminLoginBottomText"> Faz parde de uma instituição interessada em ser adminitradora do sistem? CLIQUE AQUI </a>
            </div>
        </div></div>

        <div id="adminChangePassword" class="adminPopUp">
            <div id="adminPopUpContent" class="reveal-modal">
                <div>
                    <a class="closeAdminPopUp" onclick="closeAdminChangePass()">&times;</a>
                    <h2> Alterar senha </h2>
                </div>
                <p>
                    <form>
                        <label for="fname"> Senha antiga </label><br>
                        <input type="password" id="fOldPass" name="fOldPass"><br><br>
                        <label for="lname"> Nova Senha </label><br>
                        <input type="password" id="fNewPass" name="fNewPass"><br><br>
                        <label for="lname"> Confirmar Senha </label><br>
                        <input type="password" id="fConfirmPass" name="fConfirmPass"><br><br>
                    </form>
                    <button onclick="performAdminPasswordChange()"> Trocar </button>
                </p>
            </div>
        </div>

        <div id="deleteReportDiv" class="deleteReport">
            <h1> Excluir reporte </h1>
            <h3> Deseja excluir esse reporte? Digite o motivo: </h3>
            <div id="imgToBeDeleted"></div>
            <div id="textToBeDeleted"></div>
            <div>
                <textarea id="deleteText" cols="50" rows="4"></textarea>
            </div>
            <form>
                <br>
                <label for="cbBlockUser"> Bloquear usuário? </label>
                <input type="checkbox" id="cbBlockUser" name="cbBlockUser" value="0">
            </form>
            <br>
            <button id="btnResolve" onclick="closeDeleteReport()"> Cancelar </button>
            <button id="btnResolve" onclick="deleteReport()"> Deltar report </button>
        </div>

        <div id="imageZoomDiv" class="zoomReport">
        </div>

        <script>
            function closeDeleteReport() {
                document.getElementById('deleteReportDiv').style.visibility = 'hidden';
                cancelDelete();
            }

            function deleteReport() {
                const text = document.getElementById('deleteText').value;
                const blockUser = document.getElementById('cbBlockUser').checked;
                sendDeleteReportRequest(text, blockUser);
            }
        </script>

    </body>
</html>
